/* FONTS */
@font-face {
    font-family: ExtraLight;
    src: url(../../assets/fonts/Montserrat-ExtraLight.svg);
    src: url(../../assets/fonts/Montserrat-ExtraLight.eot);
    src: url(../../assets/fonts/Montserrat-ExtraLight.otf);
    src: url(../../assets/fonts/Montserrat-ExtraLight.ttf);
    src: url(../../assets/fonts/Montserrat-ExtraLight.woff);
}
@font-face {
    font-family: Light;
    src: url(../../assets/fonts/Montserrat-Light.svg);
    src: url(../../assets/fonts/Montserrat-Light.eot);
    src: url(../../assets/fonts/Montserrat-Light.otf);
    src: url(../../assets/fonts/Montserrat-Light.ttf);
    src: url(../../assets/fonts/Montserrat-Light.woff);
}
@font-face {
    font-family: Regular;
    src: url(../../assets/fonts/Montserrat-Regular.svg);
    src: url(../../assets/fonts/Montserrat-Regular.eot);
    src: url(../../assets/fonts/Montserrat-Regular.otf);
    src: url(../../assets/fonts/Montserrat-Regular.ttf);
    src: url(../../assets/fonts/Montserrat-Regular.woff);
}
@font-face {
    font-family: Semibold;
    src: url(../../assets/fonts/Montserrat-SemiBold.svg);
    src: url(../../assets/fonts/Montserrat-SemiBold.eot);
    src: url(../../assets/fonts/Montserrat-SemiBold.otf);
    src: url(../../assets/fonts/Montserrat-SemiBold.ttf);
    src: url(../../assets/fonts/Montserrat-SemiBold.woff);
}
@font-face {
    font-family: Regular Hebrow;
    src: url(../../assets/fonts/IBMPlexSansHebrew-Regular.svg);
    src: url(../../assets/fonts/IBMPlexSansHebrew-Regular.eot);
    src: url(../../assets/fonts/IBMPlexSansHebrew-Regular.otf);
    src: url(../../assets/fonts/IBMPlexSansHebrew-Regular.ttf);
    src: url(../../assets/fonts/IBMPlexSansHebrew-Regular.woff);
}
@font-face {
    font-family: Bold;
    src: url(../../assets/fonts/Montserrat-SemiBold.svg);
    src: url(../../assets/fonts/Montserrat-SemiBold.eot);
    src: url(../../assets/fonts/Montserrat-SemiBold.otf);
    src: url(../../assets/fonts/Montserrat-SemiBold.ttf);
    src: url(../../assets/fonts/Montserrat-SemiBold.woff);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    display: flex;
    justify-content: space-between;
}
.App{
    background-image: url("../../assets/day-background.jpg");
    background-size: cover;
    width: 100vmin;
    height: 100vmax;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}
.App-night{
    background-image: url("../../assets/night-background.jpg");
    background-size: cover;
    width: 100vmin;
    height: 100vmax;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}
.signature{
    display: none;
}
.container{
    width: 95%;
    height: 90%;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.wrapper{
    display: none;
}
.Toastify__toast--error {
    border-radius: 17px !important;
    background: #d95255 !important;
}

.Toastify__toast--success {
    border-radius: 17px !important;
    background: #52d98d !important;
}
.Toastify__toast--warning {
    border-radius: 17px !important;
    background: #d98a52 !important;
}
.Toastify__toast--info {
    border-radius: 17px !important;
    background: #52b3d9 !important;
}
/* BIG SCREENS */
@media all and (min-width: 1025px) {
    .App, .App-night{
        width: 100vmax;
        height: 100vmin;
    }
    .wrapper{
        display: flex;
        width: 50vw;
        height: calc(15% + 1vw);
    }
    .signature{
        display: flex;
        color: #9C9C9C;
        font-family: ExtraLight;
        font-size: 2.25em;
        position: absolute;
        right: 0;
        bottom: 0;
    }

}
