.main{
    height: 3.81em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}
.account, .search, .search-night{
    display: none;
}
.logo{
    background-image: url("../../assets/logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 7.6em;
    height: 100%;
    display: flex;
    position: absolute;
    left: 0;
    transform: scale(1);
    transition: .3s;
    cursor: pointer;
}
.logo:active{
    transform: scale(1.05);
    transition: .2s;
}
.nav{
    width: 3.75em;
    height: 100%;
    display: flex;
}
.navbar-collapse{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    width: 178px;
    height: 250px;
    background: rgba(112, 112, 112, 0.81);
    list-style-type: none;
    align-items: center;
    justify-content: space-around;
    padding: 5%;
    transition: 1s;
    z-index: 100;
}
.collapse{
    display: none;
    transition: 1s;
}
.skipping{
    height: 0;
    transition: .5s;
    opacity: 10%;
}
.skipping li{
    display: none;
}
.fordevice{
    display: none;
}
li{
    color: white;
    font-family: Semibold;
    font-size: var(--l);
    display: flex;
}
li:active{
    color: var(--yellow);
}
.nav-close{
    background-repeat: no-repeat;
    background-size: contain;
    width: 32px;
    height: 32px;
    background-image: url("../../assets/icons/x.svg");
}
.nav-close:active{
    background-image: url("../../assets/icons/x-active-d.svg");
}
.navbar-collapse .account{
    display: flex;
    width: 32px;
    height: 32px;
    background: var(--yellow);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
.navbar-collapse .account span{
    font-size: var(--s);
    font-family:Semibold;
    color: white;
}
.burger{
    background-image: url("../../assets/icons/burger.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.dialog{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    height: 95%;
    min-height: 50vmin
}
.dialog > div{
    margin: 2%;
}
.user-photo{
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: var(--yellow);
    margin: auto;
}
.rotating-border{
    display: flex;
    align-items: center;
    justify-items: center;
    height: 18vh;
    width: 18vh;
    border-radius: 50%;
    animation-name: Shine;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    background: rgb(255,222,0);
    transition: .5s;
    background: radial-gradient(circle, rgba(255,222,0,0.6615021008403361) 0%, rgba(255,255,255,0) 65%);
    opacity: 1;
}
.rotating-borderNight{
    display: flex;
    align-items: center;
    justify-items: center;
    height: 18vh;
    width: 18vh;
    border-radius: 50%;
    animation-name: Moon;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    background: white;
    transition: .5s;
    /*background: radial-gradient(circle, rgba(255,222,0,0.6615021008403361) 0%, rgba(255,255,255,0) 65%);*/
    opacity: 1;
}
@keyframes Shine {
    0%{
        background: radial-gradient(circle, rgba(255,222,0,0.6615021008403361) 25%, rgba(255,255,255,0) 65%);
    }
    25%{
        background: radial-gradient(circle, rgba(255,222,0,0.6615021008403361) 15%, rgba(255,255,255,0) 65%);
    }
    50%{
        background: radial-gradient(circle, rgba(255,222,0,0.6615021008403361) 0%, rgba(255,255,255,0) 65%);
    }
    75%{
        background: radial-gradient(circle, rgba(255,222,0,0.6615021008403361) 15%, rgba(255,255,255,0) 65%);
    }
    100%{
        background: radial-gradient(circle, rgba(255,222,0,0.6615021008403361) 25%, rgba(255,255,255,0) 65%);
    }
}
@keyframes Moon {
    0%{
        background: radial-gradient(circle, rgba(213, 213, 213, 0.6) 25%, rgba(255,255,255,0) 65%);
    }
    25%{
        background: radial-gradient(circle, rgba(213, 213, 213, 0.6) 15%, rgba(255,255,255,0) 65%);
    }
    50%{
        background: radial-gradient(circle, rgba(213, 213, 213, 0.6) 0%, rgba(255,255,255,0) 65%);
    }
    75%{
        background: radial-gradient(circle, rgba(213, 213, 213, 0.6) 15%, rgba(255,255,255,0) 65%);
    }
    100%{
        background: radial-gradient(circle, rgba(213, 213, 213, 0.6) 25%, rgba(255,255,255,0) 65%);
    }
}
.user-name{
    font-family: Semibold;
    font-size: var(--s);
    color: var(--light_gray);
    overflow-wrap: break-word;
    max-width: 90%;
    text-align: center;
}
.user-email{
    font-family: Regular;
    font-size: var(--s);
    color: var(--light_gray);
    max-width: 80%;
    overflow-wrap: anywhere;
}
.dialog-btns{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.dialog-btns button{
    font-family: Regular;
    font-size: var(--s);
    padding: 1%;
    color: var(--light_gray);
    transition: .5s;
    transform: scale(1);
    height: 40px;
    min-width: 40px;
    box-shadow: var(--shadow);
    border-radius: 11px;
    border: none;
}
.dialog-btns button:active{
    transform: scale(1.1);
    transition: .4s;
}
.closeBtn{
    font-family: Regular;
    font-size: var(--s);
    padding: 1%;
    color: var(--light_gray);
    transition: .5s;
    transform: scale(1);
    height: 40px;
    min-width: 40px;
    box-shadow: 0var(--shadow);
    border-radius: 11px;
    border: none;
    margin: 5%;
    float: right;
}
.closeBtn:active{
    transform: scale(1.1);
    transition: .4s;
}
hr{
    width: 90%;
    color: var(--pale_gray);
    height: 1px;
}
/* BIG SCREENS */
@media all and (min-width: 850px){
    .account, .search, .search-night, .fordevice{
        display: flex;
    }
    .nav, .navbar-collapse{
        display: none;
    }
    .main{
        height: 15%;
    }
    .logo{
        width: 203px;
        height: 126px;
    }
    .account{
        display: flex;
        width: 76px;
        height: 76px;
        background: var(--yellow);
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .account:active{
        background: var(--mustard_yellow);
    }
    .account span{
        font-size: var(--xxl);
        font-family:Semibold;
        color: white;
    }
    .search{
        width: 21.69em;
        height: 4.75em;
        background: var(--glass);
        box-shadow: inset 3px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 17px;
        margin-left: 40px;
        display: flex;
        align-items: end;
    }
    .search-night{
        width: 21.69em;
        height: 4.75em;
        background: var(--glass);
        box-shadow: inset 3px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 17px;
        margin-left: 40px;
        display: flex;
        align-items: end;
    }
    .search-icon{
        background-image: url("../../assets/icons/search.svg");
        background-size: contain;
        background-repeat: no-repeat;
        width: 36px;
        height: 36px;
        margin: 16px;
        cursor: pointer;
    }
    .rem-icon{
        background-image: url("../../assets/icons/cancel.png");
        background-size: contain;
        background-repeat: no-repeat;
        opacity: .3;
        width: 18px;
        height: 18px;
        margin: 16px;
        margin-bottom: 24px;
        cursor: pointer;
    }
    .search input{
        width: 75%;
        height: 36px;
        margin-bottom: 14px;
        background: transparent;
        border: none;
    }
    .search-night input{
        width: 75%;
        height: 36px;
        margin-bottom: 14px;
        background: transparent;
        border: none;
    }
    .search input::placeholder{
        font-family: Regular;
        font-size: var(--s);
        color: var(--light_gray);
    }
    .search-night input::placeholder{
        font-family: Regular;
        font-size: var(--s);
        color: white;
    }
    .search input:focus-visible{
        outline: none;
    }
}
