.regionContainer{
    height: 90%;
    width: 90vw;
    min-height: 600px;
    min-width: 335px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 7px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.region{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.regionInfo{
    width: 100%;
    height: 15%;
    min-height: 95px;
    min-width: 400px;
    display: flex;
    color: var(--gray);
    font-family: Light;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.regionInfoNight{
    width: 100%;
    height: 15%;
    display: flex;
    color: white;
    font-family: Light;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrap{
    height: calc(100% - 8vw);
    width: calc(100% - 8vw);
    margin: auto;
}
.innerWrapper{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /*width: 100%;*/
    /*min-height: 500px;*/
    /*min-width: 400px;*/
    align-items: flex-start;
}
.regionName{
    font-size: var(--xxl);
}
.regionTimeDate{
    font-size: var(--s);
}
.noRegion{
    color: var(--light_gray);
    font: 3em Light;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin: auto;
    height: 100%;
    text-align: center;
}
@media all and (min-width: 850px){
    .regionContainer{
        height: 60%;
        width: 95%;
        margin-top: 1%;
        min-height: 300px;
        min-width: 300px;
    }
    .wrap{
        height: calc(100% - 3vw);
        width: calc(100% - 3vw);
    }
    .regionContainer{
        min-width: 1100px;
    }
    .innerWrapper{
        flex-direction: row;
        justify-content: normal;
        min-height: 300px;
        width: 100%;
    }
    .regionInfo{
        flex-direction: row;
        justify-content: space-between;
        min-height: 40px;
    }
    .regionInfoNight{
        flex-direction: row;
        justify-content: space-between;
    }
    .regionTimeDate{
        color: white;
    }
}
