.wrapper{
    width: 90%;
    height: 40%;
    display: flex;
    font-family: Regular, sans-serif;
    color: var(--gray);
    min-height: 250px;
    min-width: 320px;
    margin: auto;
}
.wrapperNight{
    width: 100%;
    height: 40%;
    display: flex;
    font-family: Regular, sans-serif;
    color: white;
    min-height: 250px;
    min-width: 320px;
}
.noResponse{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: Regular, sans-serif;
    color: var(--gray);
    text-align: center;
    margin: auto;
}
.noResponseTitle{
    font-size: var(--xxl);
    display: flex;
}
.noResponseText{
    font-size: var(--m);
    display: flex;
}
.loading{
    display: flex;
    font-family: Regular, sans-serif;
    font-size: var(--m);
    color: var(--light_gray);
    text-align: center;
    margin: auto;
}
.spinner{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 100px;
    height: 100px;
    margin: auto;
}
.spinner div{
    width: 20px;
    height: 20px;
    background: var(--yellow);
    border-radius: 50%;
    animation: bouncer 1s cubic-bezier(.19, .57, .3, .98) infinite alternate;
}
.spinner div:nth-child(2){
    animation-delay: .1s;
    opacity: .8;
}
.spinner div:nth-child(3){
    animation-delay: .2s;
    opacity: .6;
}
.spinner div:nth-child(4){
    animation-delay: .3s;
    opacity: .4;
}
@keyframes bouncer {
    from{transform: translateY(0)}
    to{transform: translateY(-100px)}
}
.leftSide, .rightSide{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 100%;
    align-items: center;
}
.degree{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 60%;
}
.digit{
    font-size: var(--xxl);
    text-shadow: var(--shadow);
    line-height: .9;
    display: flex;
    flex-direction: row;
}
.text{
    font-size: var(--xl);
    text-align: center;
    margin: auto;
}
.advice{
    display: flex;
    align-items: center;
    background: var(--glass);
    box-shadow: var(--shadow);
    border-radius: 11px;
    font-size: var(--l);
    width: 100%;
    /*height: 40%;*/
    padding: 5%;
    word-wrap: break-word;
}
.picture{
    width: 50%;
    height: 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../../assets/weather-logo/clear.png");
    transform: scale(2);
    z-index: 0;
}
.details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-wrap: nowrap;
    position: relative;
    z-index: 1;
    width: 70%;
    height: 60%;
}
.sunrise, .sunset, .wind, .hum{
    display: flex;
    align-items: baseline;
    font-size: var(--m);
}
.sunriseIcon{
    display: flex;
    width: 30%;
    height: 100%;
    background: center no-repeat url("../../assets/icons/sunrise.png");
    background-size: contain;
    margin-right: 10%;
}
.sunsetIcon{
    display: flex;
    width: 30%;
    height: 100%;
    background: center no-repeat url("../../assets/icons/sunset.png");
    background-size: contain;
    margin-right: 10%;

}
.windIcon{
    display: flex;
    width: 30%;
    height: 100%;
    background: center no-repeat url("../../assets/icons/wind.png");
    background-size: contain;
    margin-right: 10%;

}
.humIcon{
    display: flex;
    width: 30%;
    height: 100%;
    background: center no-repeat url("../../assets/icons/humidity.png");
    background-size: contain;
    margin-right: 10%;

}
@media all and (min-width: 850px){
    .wrapper{
        width: 38%;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 5%;

    }
    .wrapperNight{
        width: 38%;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 5%;

    }
    .leftSide, .rightSide{
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }
    .leftSide{
        height: 40%;
    }
    .rightSide{
        height: 55%;
    }
    .digit{
        font-size: var(--xxl);
    }
    .text{
        font-size: var(--l);
        margin: 1%;
    }
    .advice{
        font-size: var(--xs);
        height: auto;
        width: 50%;
    }
    .picture{
        width: 40%;
        height: 50%;
        transform: scale(3);
    }
    .details{
        width: 50%;
        height: 100%;
    }
    .sunrise, .sunset, .wind, .hum{
        font-size: var(--s);
    }
    .degree{
        width: 25%;
    }
    .sunriseIcon, .sunsetIcon, .windIcon, .humIcon{
        width: 15%;
        margin-right: 5%;
    }
}
